img {
	max-width:100%;
}

body {
	background-color: #ecddc7
}
.top-title {
	color: yellow;
	font-size: 20px;
}

/* NAVIGATION AREA */

.navbar-brand img{
	max-height:75px;
	max-width:250px;
	margin-top: -20px;

}

/* When the Menu is clicked, the orange text stays active */

.collapse ul.nav .navactive{
	color:#e44d1f!important;
}

/* CONTACT AREA */


#contact { 
	background-color: #ecddc7;
}

#contact-top-section {
	margin-bottom: 30px;
}

#contact-top-section p {
	color:#553739;
}

#contact-top-section h2 {
	color:#553739;
}

#contact-top-section span {
	color:#553739
}

#contact-top-section a {
	color:#553739
}

/* Contact Area Map */

.map {
	margin-top:50px;
}

/* Area with Business Hours */

.business-hours span{
	float:left;
	margin-top:2px;
    margin-right: 10px;
    font-size: 20px;
}

.left-text p{
    text-align: left;
    border-bottom: 1px solid;
    padding: 10px 0;
}

/* Area with contact details */

.contact-section span{
	float:left;
	margin-top:2px;
    margin-right: 10px;
    font-size: 20px;
}

.contact-icons span{
	float:left;
	margin-top:10px;
	margin-right: 10px;
}

.right-text p{
    text-align: left;
    border-bottom: 1px solid;
    padding: 10px 0;
}

/* FOOTER AREA */

footer.sub_footer{
	background-color: #553739;
}

p.sub-footer-text {
	color:#ffffff;
	font-size:12px;
}

.sub-footer-image img {
	max-height:20px;
	float:right;
}

/* When arrow in footer is hovered , the orange arrow appears */

.sub-footer-icon span{
	color:#ffffff;
}

.sub-footer-icon span:hover{
	color:#e44d1f;
}

/*MENU SECTION */

#menu_overlay {
	background-color: #ecddc7;
	opacity: 0.9;
	height: 80%;
	color: #553739;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
#menu_container {
	height:100%;
	overflow: hidden;
	vertical-align: center;
}
#menu_text {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	color:#553739;
}
#menu_click {
	border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
 	top: 50%;
  	transform: translateY(-50%);
}
#menu_click:hover {
	opacity: 0.7;
}
