img {
	max-width:100%;
}

body {
	background-color: #ecddc7
}
.top-title {
	color: yellow;
	font-size: 20px;
}

/* NAVIGATION AREA */

.navbar-brand img{
	max-height:75px;
	max-width:250px;
	margin-top: -20px;

}

/* CONTACT AREA */


#contact { 
	margin-bottom:125px;
	background-color: #ecddc7
}

.contact-section span{
	float:left;
	margin-top:2px;
    margin-right: 10px;
    font-size: 20px;
}

.contact-icons span{
	float:left;
	margin-top:10px;
	margin-right: 10px;
}

.business-hours span{
	float:left;
	margin-top:2px;
    margin-right: 10px;
    font-size: 20px;
}

.left-text p{
    text-align: left;
    border-bottom: 1px solid;
    padding: 10px 0;
}


.right-text p{
    text-align: left;
    border-bottom: 1px solid;
    padding: 10px 0;
}

/* When the Menu is clicked, the orange text stays active */

.collapse ul.nav .navactive{
	color:#e44d1f!important;
}

/* FOOTER AREA */

footer.sub_footer{
	background-color: #553739;
}

p.sub-footer-text {
	color:#ffffff;
	font-size:12px;
}

.sub-footer-image img {
	max-height:20px;
	float:right;
}

/* When arrow in footer is hovered , the orange arrow appears */

.sub-footer-icon span{
	color:#ffffff;
}

.sub-footer-icon span:hover{
	color:#e44d1f;
}